@import url("https://fonts.googleapis.com/css2?family=Arsenal&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Radley&display=swap");

.form-container {
  background-color: rgba(255, 0, 0, 0);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-card {
  width: 400px;
  height: 500px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  text-align: center;
  margin-top: 100px;
  margin: 50px;
}
button {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #8ff9ff 0%, #3e33d9 100%);
  box-shadow: 0 20px 30px -6px #c5c5c5;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
button:hover {
  transform: translateY(3px);
  background-image: linear-gradient(135deg, #e58fff 0%, #3228b7 100%);
  box-shadow: none;
}

button:active {
  opacity: 0.5;
}
.form-card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 60px #e67de1, -20px -20px 60px #f9c4df;
}

h2,
.form-body,
.results {
  padding-top: 100px;
  text-align: center;
}

h2 {
  font-family: "Arsenal", sans-serif;
  font-size: 50px;
}

.form-body,
.results {
  font-family: "Radley", serif;
}

label,
input,
button {
  margin-top: 20px;
}

input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}

input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.error {
  color: #f50202;
}
.hide {
  animation: disappear 4s 2s both;
}

@keyframes disappear {
  50% {
    text-shadow: 0 0 40px #cbc7c7;
  }
  to {
    text-shadow: 0 0 20px #cbc7c7;
    opacity: 0;
  }
}
