@use "@/shared/variables";

.magic-ball {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__brief {
    margin: 0;
    position: fixed;
    top: 5vh;
    z-index: 2;
    width: 90vw;
    text-align: center;
    color: variables.$white-text-color;
    transition: opacity 1s ease-in-out;

    &.visible {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
    }
  }

  &__text {
    font-size: clamp(1rem, 3vw, 2rem);
    line-height: 1.2;
  }

  &__countdown {
    display: block;
    width: 100%;
    font-size: clamp(1.5rem, 3vw, 3rem);
    text-shadow: variables.$pink-text-shadow;
  }

  &__container {
    width: 90vw;
    max-width: 500px;
    height: 90vw;
    max-height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #1a1a1a, #000000);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5), inset 0 -10px 100px rgba(0, 0, 0, 0.8),
      inset 0 10px 20px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 55%;
      height: 55%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(1);
      background: white;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1;
      content: "8";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10rem;
      color: black;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 55%;
      height: 55%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
      background: radial-gradient(circle at 90% 90%, #1c1c1c, #121212);
      border: 10px solid #171717;
      box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
      transition: opacity 1s ease 1s, transform 1s ease 1s;
      content: "";
      z-index: -1;
    }

    &.active::before {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
    }

    &.active::after {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }

    &.shake {
      animation: shake 1s ease-out;
    }
  }

  &__triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 45%;
    height: 35%;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.2));
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    z-index: 1;

    &.visible {
      opacity: 1;
      pointer-events: all;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__answer {
    width: 50%;
    height: 50%;
    text-align: center;
    color: variables.$white-text-color;
    font-size: clamp(0.5rem, 0.75rem, 1rem);
    text-shadow: variables.$pink-text-shadow;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.visible {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-5vw, -2vw) rotate(-5deg);
  }
  20% {
    transform: translate(4vw, 1.5vw) rotate(3deg);
  }
  30% {
    transform: translate(-3vw, -1vw) rotate(-2deg);
  }
  40% {
    transform: translate(3.5vw, 2vw) rotate(2.5deg);
  }
  50% {
    transform: translate(-2vw, -1.5vw) rotate(-1.5deg);
  }
  60% {
    transform: translate(2.5vw, 1vw) rotate(1.5deg);
  }
  70% {
    transform: translate(-1.5vw, -1vw) rotate(-1deg);
  }
  80% {
    transform: translate(1.5vw, 0.5vw) rotate(1deg);
  }
  90% {
    transform: translate(-0.5vw, -0.5vw) rotate(-0.5deg);
  }
}
