.EightBall {
    padding: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.EightBall p {
    color: white;
    margin: 0;
    padding: 0;
}